@{
    ViewData["Title"] = "Cadastro Clientes";
}

<h1>Cadastro de Clientes</h1>
<p>Lista de clientes para delivery</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Telefone</th>
      <th scope="col">Bairro</th>
      <th scope="col">Cidade/UF</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Joao da Silva</td>
      <td>(11) 91234-5631</td>
      <td>Centro</td>
      <td>Jundiai/SP</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Maria Joaquina</td>
      <td>(11) 95323-2222</td>
      <td>Medeiros</td>
      <td>Jundiai/SP</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Joao Jau</td>
      <td>(11) 91221-0011</td>
      <td>Jd Santa Clara</td>
      <td>Jau/SP</td>
    </tr>
  </tbody>
</table>